@model IEnumerable<SearchService.SearchResult>

@{
    ViewData["Title"] = "Index";
}

<h2>Search Offline <a href="/onlinesearch">Search Online</a></h2>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Result
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                int rowNo = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(rowNo += 1)
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                </tr>
                                <tr>
                                    <td> <a href="@Html.DisplayFor(modelItem => item.Link)">@Html.DisplayFor(modelItem => item.Link)</a> </td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Text)</td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>